html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-color: #E5E5E5;
  color: #6E6893; 
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 792px;
  background-color: #F2F0F9;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  padding-top: 30px;
}

.form {
  max-width: 580px;
  margin: 30px auto;
}

.form__box {
  width: 524px;
  margin: 30px auto;
  background-color: #ffffff;
  border: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form__name {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.form__input {
  width: 524px;
  min-height: 40px;
  border: 0;
  background-color: #faf7f7;;
}

.form__input--height {
  min-height: 100px;
}

button {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #6E6893;
  padding: 10px 25px;
  margin-left: 350px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 0;
}

.form__input--size1 {
  width: 40px;
  display: inline;
  vertical-align: middle;
}

.form__input--size2 {
  width: 474px;
} 